{% extends 'Layout.html' %}

{% block content %}
    <h1>Перечень партий:</h1>
    <br>
    {% if error %}
        <p class="text-danger"><small>{{ error }}</small></p>
        <br>
    {% endif %}
    {% if success %}
        <p class="text-success"><small>{{ success }}</small></p>
        <br>
    {% endif %}
    <a href="/consignment/new">Добавить новую партию</a>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Краска</th>
            <th>Срок годности</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for consignment in consignments %}
            <tr>
                <td>{{ consignment.__id }}</td>
                <td>{{ consignment.name }}</td>
                <td>{{ consignment.paint.name }}</td>
                <td>{{ consignment.date_of_end }}</td>
                <td class="td-before-last"><a href="/consignment/edit/{{ consignment.__id }}">&#10033</a></td>
                <td class="td-last"><a href="/consignment/delete/{{ consignment.__id }}">&#8855</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}