table a {
    text-decoration: none !important;
}

table tr td.td-last,
table tr td.td-before-last {
    width: 2em;
    font-size: 1.5em;
}

table th,
table td {
    text-align: center;
}

table tr td.td-last a {
    color: red;
}

table tr td.td-before-last a {
    color: green;
}