{% extends 'Layout.html' %}

{% block content %}
    <h1>Возврат на склад</h1>
    <br>
    <form action="#" method="post">
        <div class="row form-group">
            <label for="id-id_consignment" class="col-xs-2">Партия</label>
            <select name="__consignment_id" id="id-id_consignment" class="col-xs-2" required
                    onchange="window.location.replace('/move/workshop_to_stock?c_id=' + $('#id-id_consignment').val())">
                <option></option>
                {% for c_key, c in consignments %}
                    <option value={{ c_key }} {% if c_key == c_id %}selected{% endif %}>{{ c.name }} [{{ c.paint }}]</option>
                {% endfor %}
            </select>
        </div>
        <div class="row form-group">
            <label for="id-id_from" class="col-xs-2">Место в цеху</label>
            <select name="__place_from_id" id="id-id_from" class="col-xs-2" required>
                <option></option>
                {% for pf in places_from %}
                    <option value={{ pf.__id }}>{{ pf.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row form-group">
            <label for="id-id_to" class="col-xs-2">Место на складе</label>
            <select name="__place_to_id" id="id-id_to" class="col-xs-2" required>
                <option></option>
                {% for pt in places_to %}
                    <option value={{ pt.__id }}>{{ pt.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row form-group">
            <label for="id-qty" class="col-xs-2">Количество</label>
            <input type="number" name="qty" id="id-qty" class="col-xs-1" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}